In [26]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [30]:
## clean GDP data
df = pd.read_csv('../data/Malaysia/malaysia-gdp-gross-domestic-product.csv', skiprows = 16, parse_dates=['date'])
df.columns

Index(['date', ' GDP ( Billions of US $)', ' Per Capita (US $)',
       ' Annual % Change'],
      dtype='object')

In [31]:
df['date'] = df['date'].dt.year
df.rename(columns = {'date': 'Year',  ' Per Capita (US $)': 'GDP Per Capita ($)'}, inplace=True)
df = df[['Year', 'GDP Per Capita ($)']]
df.head()

   Year  GDP Per Capita ($)
0  1960            244.6110
1  1961            235.5297
2  1962            240.4418
3  1963            292.5758
4  1964            302.6762

In [32]:
df.to_csv('../data/Malaysia/TidyGDPMalaysia.csv', index = False)