In [3]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

## Summary of Important information for ListingofBuildingEnergyPerformanceData2020.csv

Thailand Info

In [5]:
df = pd.read_csv('../data/API_THA_DS2_en_csv_v2_3406488.csv', skiprows=4)
df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Thailand,THA,"Intentional homicides (per 100,000 people)",VC.IHR.PSRC.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Thailand,THA,"Internally displaced persons, new displacement...",VC.IDP.NWDS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.400000e+02,9.000000e+04,5.000000e+04,4.600000e+03,6.100000e+04,1.300000e+04,9.400000e+03,2.200000e+04,2800.0,NaN
2,Thailand,THA,"Voice and Accountability: Percentile Rank, Upp...",VA.PER.RNK.UPPER,NaN,NaN,NaN,NaN,NaN,NaN,...,2.561576e+01,2.364532e+01,2.364532e+01,2.524272e+01,2.898551e+01,3.043478e+01,3.285024e+01,3.478261e+01,NaN,NaN
3,Thailand,THA,Voice and Accountability: Estimate,VA.EST,NaN,NaN,NaN,NaN,NaN,NaN,...,-9.690980e-01,-1.023083e+00,-1.045493e+00,-1.017936e+00,-8.467358e-01,-8.106117e-01,-7.899829e-01,-6.226077e-01,NaN,NaN
4,Thailand,THA,High-technology exports (current US$),TX.VAL.TECH.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.881503e+10,3.902619e+10,4.393357e+10,4.475286e+10,4.014156e+10,4.583799e+10,4.928759e+10,4.486408e+10,NaN,NaN